# Sincronizar este valor con emissor-raspberry/.env.example
ENABLE_IMAGE_TRANSMISSION=true

XBEE_SERIAL_PORT=/dev/ttyUSB0
XBEE_BAUDRATE=9600
XBEE_SERIAL_TIMEOUT_S=0.5

FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000

RECEIVED_DIR=./received
RECEIVER_TELEMETRY_CSV=./data/telemetry.csv
