# Sincronizar este valor con receptor-fastapi/.env.example
ENABLE_IMAGE_TRANSMISSION=true

XBEE_SERIAL_PORT=/dev/serial0
CPP_IMAGE_TOOL=/home/usuario/finall-test-cansat-2026/dist-armv7/out/cansat_image_tool
XBEE_BAUDRATE=9600
XBEE_DEST_ADDR_64=0013A200406EFB43
XBEE_RETRIES=3
XBEE_ACK_TIMEOUT_S=0.3
XBEE_INTER_PACKET_DELAY_S=0.03

IMAGE_CHUNK_SIZE=80
IMAGE_CHUNKS_PER_CYCLE=7
TELEMETRY_ONLY_INTERVAL_S=1.0
PIPELINE_LOOP_SLEEP_S=0.02

SENSOR_POLL_INTERVAL_S=0.5
SEA_LEVEL_PRESSURE_HPA=1013.25

CAPTURE_START_DELAY_S=5.0
CAPTURE_INTERVAL_S=5.0
CAPTURE_COUNT=3

CAMERA_DEVICE_ID=0
CAMERA_INPUT_WIDTH=2560
CAMERA_INPUT_HEIGHT=720
OUTPUT_WIDTH=256
OUTPUT_HEIGHT=144
JPEG_QUALITY=45

MS5611_ADDR=0x77
MMC56X3_ADDR=0x30
INA226_ADDR=0x40
BMI160_ADDR=0x69
BME280_ADDR=0x76
INA226_R_SHUNT_OHM=0.1

EMISSOR_STORAGE_DIR=./storage
EMISSOR_IMAGES_DIR=./storage/images
EMISSOR_TELEMETRY_CSV=./storage/telemetry.csv
